---
layout: default
---

<nav class="nav-top clearfix">
  <div class="nav-top-inner">
    <div class="onepcssgrid-1200">
      <h1 class="nav-top-logo pull-left">
        <a title="Link to Arlington Ruby" class="nav-link" href="/">
          <span class="box">
            <img src="/images/arb-white-50x70.png" height="50" alt="Arlington Ruby Logo" title="Arlington Ruby Logo" />
          </span>
          <span class="box content">Arlington Ruby</span>
        </a>
      </h1>

      <ul class="nav-top-pagelinks pull-right">
        <li>
        <a title="Link to upcoming events" class="nav-link" href="#events">
          <i class="icon-calendar"></i>
          Upcoming Events
        </a>
        </li>
        <li>
        <a title="Link to community information" class="nav-link" href="#community">
          <i class="icon-beer"></i>
          Community
        </a>
        </li>
        <a title="Link to the mentorship share section" class="nav-link" href="#mentorship">
          <i class="icon-star"></i>
          Mentorship
        </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="main onepcssgrid-1200">
  {% include retrocession.html %}

  {% include about.html %}
  {% include meetup_cards.html %}

  {% include community.html %}

  {% include mentorship.html %}
  {% include photos.html %}
</section>

{% include footer.html %}
