---
layout: default
---

<section class="main onepcssgrid-1200">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Arlington Ruby</h2>
          <p>We are a fortnightly meetup that sometimes talks about <a title="Link to Official Ruby Site" href="https://www.ruby-lang.org">Ruby</a>. Topics are usually Ruby-related, but not always. Most of our members write Ruby code, but not all of them.</p>
          <p>We also like to hang out at <a href="http://northsidesocialarlington.com/" title="Northside Social Website">Northside Social</a>.</p>
          <p>You should come hang out.</p>
        </div>
        <div class="col-md-3">
          <h2>Slack</h2>
          <p>We're often on the DCTech Slack, channel #arlingtonruby</p>
          <p><a class="btn btn-default btn-lg" href="https://dctech.slack.com" role="button">
              DCTech Slack &raquo;</a></p>
          <p><a class="btn btn-default btn-lg" href="http://dctechslack.herokuapp.com/" role="button">Slack Signup &raquo;</a></p>
        </div>
        <div class="col-md-2">
          <h2>Links</h2>
          <p><a class="btn btn-default btn-lg" href="http://www.meetup.com/Arlington-Ruby" role="button"><i class="fa fa-calendar"></i>  Meetup</a></p>
          <p><a class="btn btn-default btn-lg" href="http://www.twitter.com/arlingtonruby" role="button"><i class="fa fa-twitter"></i>  Twitter</a></p>
          <p><a class="btn btn-default btn-lg" href="https://github.com/arlingtonruby" role="button"><i class="fa fa-github-alt"></i>  GitHub</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article id="events" class="main-events">
          <header>
            <h1>Upcoming Events</h1>
          </header>
          <section class="main-content">
            <div class="retrocession">
              <h2>RetroRuby</h2>
              One day unconference covering all things Ruby on March 11, 2017. More at <a href="http://retroruby.org/">retroruby.org</a>.
            </div>
            <div class="retrocession">
              <h2>Ruby for Good</h2>
              You can now register for Ruby for good! Learn more about the event at <a href="http://rubyforgood.org/">rubyforgood.org</a>.
            </div>
            <div id="arlington-meetup-card-collection" data-component="meetup-card-collection" data-meetup-card-max-return="3" data-meetup-card-url="http://api.meetup.com/2/events/?key=6468958671031515c1e1e284e4413&group_id=1815773&status=upcoming&order=time&limited_events=false&desc=false&callback=JSON_CALLBACK&offset=0&format=json&page=200&fields="></div>
          </section>
        </article>
      </div>
      <div class="col-md-4">
        {% include twitter_widget.html %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {% include mentorship.html %}
      </div>
    </div>
  </div>

</section>
