<article id="about">
  <header>
    <h1>Arlington Ruby</h1>
  </header>
  <section class="main-content">
    <p>We are a fortnightly meetup that sometimes talks about
    <a title="Link to Official Ruby Site" href="https://www.ruby-lang.org">
    Ruby</a>. Topics are usually Ruby-related, but not always. Most of our
    members write Ruby code, but not all of them.</p>
    <p>You should come hangout.</p>
    <p>You can usually find us online in <a href="irc://irc.freenode.net:6667/#arlingtonruby">
    freenode/#arlingtonruby</a>. We also like to hang out at <a href="http://northsidesocialarlington.com/" title="Northside Social Website">
    Northside Social</a>. Often, we're in both places at the same time.
  </section>
</article>
