<article id="mentorship">
  <header>
    <h1>Mentorship</h1>
  </header>
  <section class="main-content">
    <p>Arlington Ruby wants you and the community to grow so we've built a program to do just that.</p>
    <p> Our mentorship program is invite only. That means you have to know someone to get in. More precisely someone has to know you, which means you need to be involved in the community.</p>
    <h2>Here's how it works:</h2>
    <p>
    For 6 months the expectations are:
    <ul class='bullets'>
      <li>The mentor and mentee will meet at least once weekly</li>
      <li>The mentor and mentee will meet in person at least once monthly</li>
    </ul>
    <p>When 6 months is over, the mentee is expected to:</p>
    <ul class='bullets'>
      <li>Give a full presentation at a local relevant group (Perhaps at Arlington Ruby)</li>
      <li>Find another person whom you think will benefit from the program and suggest a mentorship</li>
      <li>For 3 months following, be a greeter at Arlington Ruby meetings by finding new people and introducing them to others</li>
    </ul>
    <p>Your full commitment is for 9 months although you may continue in a new mentorship with another mentor after your 6 month commitment.</p>

    <p>This is designed to help grow your skills and grow the community. It is designed for developers at any level. What you do and learn in the course of your mentorship is up to <em>you</em> so take advantage of it.</p>
    <p>Mentorship relationships are suggested by mentors for other mentors/mentees to start. For example, if Allison thinks Brad could use a mentor, it's her job to suggest one but she can't do it herself. This helps us ensure that the community stay connected and get to know each other.</p>
  </section>
</article>

