<article id="retrocession">
  <header>
    <h1>RetroRuby Unconf</h1>
  </header>
  <section class="main-content">

    <p><a title="RetroRuby Website" href="http://retroruby.org/">RetroRuby</a>
    is coming up April 4th, 2015. You won't want to miss it, so <a
    title="RetroRuby Registration"
    href="https://retroruby.busyconf.com/bookings/new">register today</a>!
    Coffee, lunch, and t-shirt included.</p>
    <p>This Retrocession <a title="Unconference at Wikipedia" href="http://en.wikipedia.org/wiki/Unconference">
    Unconference</a> features talks suggested by and delivered by
    <strong>you</strong>, as well as a guided "newbie" track, so be sure to
    tell your friends.</p>
    <p>If you're new to Rails or ruby, welcome! We hope to see you soon!</p>
  </section>
</article>

