*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 101%;
}

html {
  font-size: 100%;
}

body {
/*  font-family: Arial, Tahoma, sans-serif;*/
  font-size: 1em;
  line-height: 1.4;
}

ul {
  list-style: none
}

ul, ol, li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
}
