/*@mixin flat-button($color) {
  background-clip: padding-box;
  background: $color;
  border: 1px solid $color;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: 300;
  padding: 7px 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  text-shadow: $color 0 0 5px;
  transition:.5s;

  i {
    padding-right: 2px;
  }
  &:hover {
    color: #fff;
    background: transparentize($color, 0.5);
  }
}
*/