.nav-top, .nav-top-inner {
  z-index: 1;
}

.nav-top-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-primary;
  font-size: 1.25em;
  overflow: hidden;
  li {
    display: inline-block;
    margin: 0 20px;
  }
}

.nav-top-logo {
  margin-top: 15px;
  font-size: inherit;
}

.nav-top-pagelinks {
  margin-top: 28px;
}

.nav-link {
  text-decoration: none;
  color: $white;
}


@media (max-width: 940px) {
  .nav-top-inner {
    li {
      margin: 0 10px;
    }
  }
}
@media (max-width: 750px) {
  .nav-top {
      font-size: 12px;
  }
  .nav-top-pagelinks {
    margin: 16px 0;
  }
  .nav-top-logo {
    img {
      height: 20px;
    }
  }
}
