@charset "utf-8";

@import 'bourbon/bourbon';
@import "normalize";
@import "layout";
@import "additional_reset";
@import "onepcssgrid";
@import "utility";
@import "variables";

@import "nav";

body {
  font-family: 'Lato', sans-serif;
  color: #6d6d6d;
  background-color: $white;
  padding: 0 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: $color-primary;
}

.main {
  margin: 0 auto;
}

.main-content {
  padding-left: 20px;
}
