@charset "utf-8";

@import 'bourbon/bourbon';
@import "normalize";
@import "layout";
@import "additional_reset";
@import "onepcssgrid";
@import "utility";
@import "variables";

@import "nav";

body {
  font-family: 'Lato', sans-serif;
  color: #6d6d6d;
  background-color: $white;
  padding-left: 20px;
  padding-right: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: $color-primary;
}

a {
  color: $color-primary;
}

.main {
  margin: 0 auto;
  article:before {
    display: block;
    content: " ";
    margin-top: -80px;
    height: 80px;
    visibility: hidden;
  }
}

.main-events {
  li {
    margin-bottom: 20px;
  }
}

.main-photos {
  li {
    margin: 20px;
  }
}

.main-content {
  padding-left: 20px;
}

footer {
  padding: 60px 0 100px;
}
