@charset "utf-8";

@import 'bourbon/bourbon';
@import "normalize";
/*@import "layout";*/
@import "additional_reset";
@import "onepcssgrid";
@import "utility";

body {
  font-family: 'Lato', sans-serif;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding-top: 8px;
  background-color: #e74c3c;
  font-size: 1.25em;
/*  background-color: #3fafff;*/
  li {
    display: inline-block;
    margin: 0 40px;
  }
  .nav-top-logo {
    margin: 10px 0 10px 40px;
    font-size: inherit;
  }
}