---
title: Arlington Ruby
---

#hero
  .row
    h1 We are a fortnightly meetup that sometimes talks about Ruby
    h2 Normally topics are Ruby related, but not always. Most of our members write Ruby code, but not all of them. You should come hangout.
#logo
  .row
    img.logo src="images/logo.svg"
    .logo-arlington Arlington
    .logo-ruby Ruby

#events ng-controller="EventsController"
  .row
    h1
      | {{title}}
    ul
      li ng-repeat="event in events"
        .name
          h2
            | {{ event.name }}
        .venue
          | Where: {{event.venue.name}}
        .attending
          | Attending: {{event.yes_rsvp_count}}
        .time
          | Time: {{ formatDate(event.time) }}
        .rsvp
          a href="{{event.event_url}}"
            | RSVP


#about
  .row
    h1 Ruby Retrocession
    p We also host the Ruby Retrocession open space event.
  .row
    h1 Around the internets
    p You can find us on twitter <a href="https://twitter.com/arlingtonruby">@arlingtonruby</a>, on IRC in #arlingtonruby on <a href="http://freenode.net/">freenode</a> and on the <a href="github.com/arlingtonruby">github</a>.

#photos ng-controller="PhotosController"
  .row
    h1 Photos
    ul.thumbnails
      li ng-repeat="photo in photos"
        a href="{{photo.highres_link}}"
          img src="{{photo.thumb_link}}" alt="{{photo.caption}}"

